<%= form_for(@doctor_patient) do |f| %>
  <% if @doctor_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_patient.errors.count, "error") %> prohibited this doctor_patient from being saved:</h2>

      <ul>
      <% @doctor_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.number_field :doctor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
