<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @appointment.completed %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Doctor patient:</strong>
  <%= @appointment.doctor_patient_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
